.title {
	color: var(--primary-text);
	margin-block: 2rem 5rem;
	line-height: 1.15;
	font-size: 5rem;
	text-align: center;
}

.userLogo {
	border-radius: 50%;
}

.main {
	padding: 4rem 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.linksContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-block: 1.5rem;
}

.linksTitle {
	color: var(--secondary);
	font-size: 2rem;
	margin-bottom: 1rem;
}

.link {
	font-size: 1.5rem;
	/* margin-block: 0.5rem; */
	color: var(--primary-text);
}

.signInText {
	font-size: var(--font-size-4);
}

.flexCenter {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.topGap {
	margin-block: 2rem;
}
