.link {
	/* color: inherit; */
	font-weight: var(--font-weight-5);
	border: 1px solid var(--background);
	border-radius: 10px;
	transition: background 0.15s ease;
	padding: var(--size-2) var(--size-3) 0.7rem;
}

.link:hover,
.link:focus,
.link:active {
	background: var(--button-hover-color);
}

.selected {
	font-weight: var(--font-weight-6);
	color: red;
}

/* layout contains the background */
.layout {
	/* --background is set in globals.css */
	background-image: var(--background);
	background-size: cover;
	overflow: scroll;
	background-repeat: repeat;
	padding-top: 1px;
	padding-bottom: 10px;
	color: var(--primary-text);
	height: 100vh;
}

/* container holds the nav and sets the max widthof the content */
.container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	max-width: 55rem;
	padding: 0 2rem;
	margin: 3rem auto 6rem;
}

/* .nav is used to set flex row for the nav and the theme button */
.nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	border: black solid 1 px;
	font-size: clamp(0.9rem, 2.5vw, 1.1rem);
	margin-top: -0.5rem;
	padding: 0 2rem;
}

.mainContent {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: -3.5rem;
	/* padding: 3rem; */
}

.button {
	width: var(--size-7);
	aspect-ratio: var(--ratio-square);
	background: inherit;
}
