.card {
	width: clamp(300px, 75vw, 1000px);
	margin-block: 0.5rem;
	padding: 1rem;
	border-radius: 0.5rem;
	border: black 2px solid;
	background-color: hsl(0, 0%, 95%);
}

.input {
	resize: none;
	height: auto;
	font-family: inherit;
	width: 100%;
}

.gap {
	height: 1rem;
}
