.card {
	width: clamp(300px, 75vw, 1000px);
	margin-block: 0.5rem;
	padding: 1rem;
	border-radius: 0.5rem;
	/* border: black 2px solid; */
	background-color: hsl(35, 98%, 59%);
}

.label {
	font-weight: bold;
	color: black;
}

.input {
	resize: none;
	height: auto;
	font-family: inherit;
	width: 100%;
	color: black;
}

.gap {
	height: 1rem;
}
