.pageContainer {
	padding: 0 2rem;
}
.main {
	/* min-height: 100vh; */
	padding: 4rem 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	--cellHeight: 1.8rem;
	--cellWidth: 7rem;
}
.form {
	display: inline-grid;
	grid-template-columns: auto auto auto;
	margin-block: 1.5rem;
	gap: 5px;
}
.header {
	grid-column-start: 1;
	grid-column-end: 4;
	text-align: center;
	font-weight: bold;
	margin-block: 2rem 0.5rem;
}
.label {
	height: var(--cellHeight);
	width: var(--cellWidth);
}
.input {
	background-color: hsl(114, 69%, 77%);
	height: var(--cellHeight);
	width: var(--cellWidth);
}
.outputStyled {
	background-color: hsl(60, 93%, 71%);
	height: var(--cellHeight);
	width: var(--cellWidth);
}
